<nav class="navbar">
    <span class="brand-text">Plate Forward</span>
  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>
    <li *ngIf="!isLoggedInFlag">
      <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Login
      </a>
    </li>
    <li *ngIf="isLoggedInFlag">
      <img src="/defaultProfile.png" alt="Profile" class="profile-photo" (click)="logout()">
    </li>
  </ul>
</nav>