<nav class="navbar">
    <span class="brand-text">Plate Forward</span>
  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>
    </li>
    <li *ngIf="!isLoggedInFlag">
      <a routerLink="/login" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        Login
      </a>
    </li>
    <li *ngIf="isLoggedInFlag" class="profile-container">
      <img src="/defaultProfile.png" alt="Profile" class="profile-photo" (click)="toggleDropdown()" title="Go to Profile">
      <button (click)="logout()" class="logout-btn">Logout</button>
    </li>
  </ul>
</nav>